<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FluxorSort</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sorting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sorting
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-structures">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DataStructures
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <li><NavLink class="nav-link" href="">Đồ thị</NavLink></li>
            <ul>
                <li><NavLink class="nav-link" href="graph-traversal">Duyệt đồ thị</NavLink></li>
                <li><NavLink class="nav-link" href="duongdi">Tìm đường đi</NavLink></li>
                <li><NavLink class="nav-link" href="kruskal">Cây khung</NavLink></li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binary-search-tree">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>  BinaryTree
            </NavLink>

            
        </div>
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="hashtable">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>  Hashtable
            </NavLink>
        </div>
    </nav>
</div>